# Spotify API keys

SPOTIFY_ID=0bfbe170f82c46a089b7d9d412592492
SPOTIFY_SECRET=4b573c3fcebc478ea99765612fc9888d

# Twitter API keys

TWITTER_CONSUMER_KEY=6bUyUeQt7kOnOgjS0CLQvQ7CR
TWITTER_CONSUMER_SECRET=aSokbLtV79WgljjZ7hWI6M6r0CTSbPlNLzLHNhx2QcHXmioHHI
TWITTER_ACCESS_TOKEN_KEY=1025853500599791617-RD4Br9mQaml8Xbgqn7RjJYQTjpq7rR
TWITTER_ACCESS_TOKEN_SECRET=9zPv4tsIUua5A6qN3dRPd282KpejQrnAessWpPUl7IOKW

# OMDB API keys

OMDB_KEY=5d5766f
